/* src/components/CovidStats.css */
.covid-stats {
    width: 100%;
    max-width: auto; /* Limit the max width */
    margin: 20px auto; /* Center the component */
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align text */
  }
  
  h2 {
    font-size: 2em;
    color: #2c3e50; /* Darker shade for the title */
    margin-bottom: 20px;
  }
  
  .country-selector {
    margin-bottom: 20px;
  }
  
  .country-selector label {
    font-size: 1.2em;
    margin-right: 10px;
  }
  
  .country-selector select {
    padding: 10px; /* Padding for the select box */
    font-size: 1em;
    border: 2px solid #3498db; /* Blue border */
    border-radius: 5px;
    background-color: #f7f9fc; /* Light background for select box */
    cursor: pointer;
    transition: border-color 0.3s;
  }
  
  .country-selector select:hover {
    border-color: #2980b9; /* Darker blue on hover */
  }
  
  .stats {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #3498db; /* Blue border around stats */
    border-radius: 10px;
    background-color: #ecf6fd; /* Light blue background for stats */
  }
  
  .stats h3 {
    font-size: 1.5em;
    color: #34495e; /* Darker shade for stats title */
    margin-bottom: 10px;
  }
  
  .stats-row {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: space-around; /* Space items evenly */
    margin-top: 10px; /* Add some space above the row */
    flex-wrap: wrap;
  }
  
  .stats-row button{
    color: #2c3e50;
    font-size: large;
    font-weight: bolder;
    background: none;
    border: none;
  }
  .stats-row button:hover{
    font-size: larger;
    font-weight: bolder;
    background: none;
    border: none;
    color: red;
  }

  
  .error {
    color: red;
    text-align: center;
    font-size: 1.2em;
    margin-top: 15px;
  }
  